body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgb(77, 83, 77);
    background-color: #fcf7f7;
    /* Light pink */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.container {
    display: flex;
    height: 100vh;
    /* Full viewport height */
}

.left-section {
    width: 25%;
    /* 1/4 of the screen width */
    background-color: #BC5A6B;
    /* Dark pink */
    /* color: white; */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    /* Enable vertical scrolling if needed */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-image {
    max-width: 100%;
    border: 5px solid #fae4ea;
    /* Dark pink */
    border-radius: 10px;
    margin-bottom: 20px;
}

.gif-and-text {
    display: flex;
    align-items: center;
}

.phone-image {
    max-width: 100px;
    margin-right: 5px;
}

.contact-text-box {
    background-color: #fae4ea;
    /* Lighter pink */
    padding: 5px;
    border-radius: 10px;
    /* line-height: 1.6; */
}

.inner-contact-text-box {
    background-color: #fae4ea;
    /* Light pink */
    border: 2px solid #BC5A6B;
    /* Dark pink */
    border-radius: 4px;
    padding: 5px;
    /* Adjust as needed to create the tight border effect */
}

.no-padding-small-header {
    font-size: 20px;
}

.right-section {
    width: 75%;
    /* 3/4 of the screen width */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    /* Enable vertical scrolling if needed */
}

.title {
    color: rgb(77, 83, 77);
    /* Dark pink */
    margin-top: 0;
}

.section-header {
    font-size: 24px;
    font-weight: bold;
    color: rgb(77, 83, 77);
    /* Dark pink */
    margin-top: 20px;
    margin-bottom: 10px;
}

.subtitle_bar {
    width: calc(100% - 40px);
    height: 5px;
    background-color: rgb(188, 90, 107);
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav-button {
    padding: 15px 30px;
    margin: 0 10px;
    color: rgb(77, 83, 77);
    background-color: #fae4ea;
    /* Lighter pink */
    border: 2px solid #BC5A6B;
    /* Dark pink */
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #FFB6C7;
    /* Darker pink on hover */
}

.text-box {
    background-color: #fae4ea;
    /* Lighter pink */
    padding: 10px;
    border: 2px solid #BC5A6B;
    /* Dark pink */
    border-radius: 10px;
    line-height: 1.6;
}

.gallery-container {
    display: flex;
    justify-content: center;
    /* Center align items horizontally */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    /* Center align items vertically */
}


.gallery-item {
    text-align: center;
}

.gallery-item img {
    border: 5px solid #BC5A6B;
    border-radius: 10px;
    max-width: 80%;
    height: auto;
}

.caption {
    text-align: center;
    margin-top: 10px;
    color: rgb(77, 83, 77);
}

.blockquote {
    margin-left: 20px;
    /* Adjust the indentation */
    border-left: 3px solid #BC5A6B;
    /* Vertical bar */
    padding-left: 10px;
    /* Add space between the vertical bar and the text */
    font-style: italic;
    /* Italicize the text */
}